body {
    background-color:rgb(23, 109, 23);
    color: rgb(21, 4, 4);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
    
}
button {
    background-color: black;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

ing {
    max-width: 30%;
}
